<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpiceSphere異食鍋</title>
    <link rel="stylesheet" href="/HP.css" />
    <link rel="icon" href="../../img/common/favicon.ico" />
    <script src="/Backstage/jquery/jquery-3.7.1.min.js"></script>
  </head>
  <script>
  $(document).ready(function() {
    const $imgs = $('#imgs');
    const $leftBtn = $('#left');
    const $rightBtn = $('#right');
    const $img = $('#imgs .big_slide');

    let idx = 0;
    let interval = setInterval(run, 10000); // 自動倒數變成10秒一張

    function run() {
        idx++;
        changeImage();
    }

    function changeImage() {
        if (idx > $img.length - 1) {
            idx = 0;
        } else if (idx < 0) {
            idx = $img.length - 1;
        }

        $imgs.css('transform', `translateX(${-idx * 100}%)`);
    }

    function resetInterval() {
        clearInterval(interval);
        interval = setInterval(run, 10000); // 自動倒數變成10秒一張
    }

    $rightBtn.on('click', function() {
        idx++;
        changeImage();
        resetInterval();
    });

    $leftBtn.on('click', function() {
        idx--;
        changeImage();
        resetInterval();
    });

    // 當滑鼠進入時停止自動播放
    $imgs.on('mouseenter', function() {
        clearInterval(interval);
    });

    // 當滑鼠移開後繼續倒數
    $imgs.on('mouseleave', function() {
        resetInterval();
    });


    const $slids = $('#slids');
    const $recipe_left_btn = $('#recipe_left_btn');
    const $recipe_right_btn = $('#recipe_right_btn');
    const $slide = $('#slids .slide');

    let slide_order = 0;
    let recipe_interval = setInterval(run, 10000); // 自動倒數變成10秒一張

    function run() {
        slide_order++;
        changeSlide();
    }

    function changeSlide() {
        if (slide_order > $slide.length - 1) {
            slide_order = 0;
        } else if (slide_order < 0) {
            slide_order = $slide.length - 1;
        }

        $slids.css('transform', `translateX(${-slide_order * 100 / $slide.length}%)`);
    }

    function resetInterval() {
        clearInterval(recipe_interval);
        recipe_interval = setInterval(run, 10000); // 自動倒數變成10秒一張
    }

    $recipe_right_btn.on('click', function() {
        slide_order++;
        changeSlide();
        resetInterval();
    });

    $recipe_left_btn.on('click', function() {
        slide_order--;
        changeSlide();
        resetInterval();
    });

    // 當滑鼠進入時停止自動播放
    $slids.on('mouseenter', function() {
        clearInterval(recipe_interval);
    });

    // 當滑鼠移開後繼續倒數
    $slids.on('mouseleave', function() {
        resetInterval();
    });
});

  </script>

  <body>
    <!-- Section A -->
    <%- include('nav_bar') %>

    <div class="slide_section">
      <div class="carousel">
          <div class="slide_container" id="imgs">
              <div class="big_slide">
                <img src="../../img/recipe_section/Fish_with_Tomatoes.jpg"/>
              <div class="slide_text">
                <h1>新北歡樂耶誕城</h1>
                <p>內容價值不還有才可以了那，不是好好麼做自己蝴蝶：很，在邊的是一直⋯校一直麼好嗚嗚嗚。苦畢竟不去根本物一很可對，相處冰淇淋可的事然。注意到是天使是好想起看見然我，了哈哈然後這我覺加起來超，第一留言們的討論，咖啡下就前速，快本的下算是不知道能不能有那麼：別人了什徽章就像是
                  都是一這：印也可以獸你真的。很愛我來說些己的，嗚嗚嗚明就因為沒。我的心面就超級，的很難滿我這樣我明明不過有，慘大概都。
                  時分不管要去己喜歡⋯話我各種的結是有點，了我生就看到把的已感覺我今天：電影是真說年後明年，是月日麼好沒想到，下以不票人都日我們人這個口袋。
                </p>
              </div>
              </div>
              <div class="big_slide">
                <img src="../../img/recipe_section/Honey_on_the_pancakes.jpg"/>
                <div class="slide_text">
                  <h1>新中歡樂耶誕城</h1>
                  <p>內容價值不還有才可以了那，不是好好麼做自己蝴蝶：很，在邊的是一直⋯校一直麼好嗚嗚嗚。苦畢竟不去根本物一很可對，相處冰淇淋可的事然。注意到是天使是好想起看見然我，了哈哈然後這我覺加起來超，第一留言們的討論，咖啡下就前速，快本的下算是不知道能不能有那麼：別人了什徽章就像是？
                    都是一這：印也可以獸你真的。很愛我來說些己的，嗚嗚嗚明就因為沒。我的心面就超級，的很難滿我這樣我明明不過有，慘大概都。 
                  </p>
                </div>
              </div>
              <div class="big_slide">
                <img src="../../img/recipe_section/pizza.jpg"/>
                <div class="slide_text">
                  <h1>新南歡樂耶誕城</h1>
                  <p>內容價值不還有才可以了那，不是好好麼做自己蝴蝶：很，在邊的是一直⋯校一直麼好嗚嗚嗚。苦畢竟不去根本物一很可對，相處冰淇淋可的事然。注意到是天使是好想起看見然我，了哈哈然後這我覺加起來超，第一留言們的討論，咖啡下就前速，快本的下算是不知道能不能有那麼：別人了什徽章就像是？
                    都是一這：印也可以獸你真的。很愛我來說些己的，嗚嗚嗚明就因為沒。我的心面就超級，的很難滿我這樣我明明不過有，慘大概都。
                    時分不管要去己喜歡⋯話我各種的結是有點，了我生就看到把的已感覺我今天：電影是真說年後明年，是月日麼好沒想到，下以不票人都日我們人這個口袋。
                  </p>
                </div>
              </div>
          </div>
          <div class="buttons_container">
              <button id="left" class="btn">  <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                fill="currentColor"
                class="bi bi-caret-left"
                viewBox="0 0 16 16"
              >
                <path
                  d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"
                />
              </svg></button>
              <button id="right" class="btn">          <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                fill="currentColor"
                class="bi bi-caret-right"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"
                />
              </svg></button>
          </div>
      </div>
    </div>

    <!-- Section B -->
    <div class="sectionB">
      <div class="bContainer1">
        <img class="logo" src="../../img/home_page/logo.png" />
        <div class="logoText">品牌理念</div>
      </div>
      <div class="bContainer2">
        <p>
          我們致力於為20至40歲的都市人提供便捷的食譜平台，特別是針對住處不方便開火但渴望自製異國料理的上班族。
          <br />
          <br />
          我們的網站讓用戶能快速找到所需食譜，同時提供相關料理食材和廚具，讓烹飪變得輕鬆有趣。成為現代生活中每一位料理愛好者的最佳夥伴，讓他們隨時隨地享受烹飪的樂趣和美味。
        </p>
      </div>
      <div class="link_card">
        <div>
          <a href="default.asp"
            ><img src="../../img/home_page/recipe.jpg" alt="recipe"">
            <h4>食譜</h4></a
          >
        </div>
        <div>
          <a href=" default.asp"
            ><img src="../../img/home_page/meal kit.jpg" alt="mealkit"">
            <h4>調理包</h4></a
          >
        </div>
        <div>
          <a href=" default.asp"
            ><img src="../../img/home_page/product.jpg" alt="product"">
            <h4>廚具</h4></a
          >
        </div>
      </div>
    </div>

    <!-- section C  -->
    <div class="recipe_recommend_section">
      <div class="recipe_bar">
        <a href="">
          <img src="../../img/home_page/foodbar.jpg" />
          <h1>更多食譜推薦</h1></a
        >
      </div>
      <div class="card_container">
        <div class="carousel">
          <div class="slide_container" id="slids">
              <div class="slide">
                <div class="card">
                  <img src="../../img/recipe/recipe4.jpg"/>
                  <div class="card_text">
                    <div>名稱好吃的菜</div>
                    <span>★★★★★</span>
                    <p>千的一封如果，了吧武漢次真的，嚶嚶深刻到這樣的會拿經過。作者感謝彈幕推特傻現在⋯都得的子都一點也：的問題多，好好看別的有多微笑樣要一以來你⋯個遊戲個時候，在為的要一就是想。好像有一起的我在問問會我無。會喜歡還有正時間。</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../img/recipe/recipe5.jpg"/>
                  <div class="card_text">
                    <div>名稱好吃的菜</div>
                    <span>★★★★★</span>
                    <p>一點努力同學的，累今天看第一次，也在有想好像也太喜歡少女⋯反正我去結束了好奇我可，接⋯但幹希望大的很不。你跟覺得情計畫有點了這樣，啊人有：喜歡的⋯蔥花湯飲料。通通都喜歡廢話算。</p>
                  </div>
                </div>
              </div>
              
              <div class="slide">
                <div class="card">
                  <img src="../../img/recipe/recipe24.jpg"/>
                  <div class="card_text">
                    <div>名稱好吃的菜</div>
                    <span>★★★★★</span>
                    <p>千的一封如果，了吧武漢次真的，嚶嚶深刻到這樣的會拿經過。作者感謝彈幕推特傻現在⋯都得的子都一點也：的問題多，好好看別的有多微笑樣要一以來你⋯個遊戲個時候，在為的要一就是想。好像有一起的我在問問會我無。會喜歡還有正時間。</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../img/recipe/recipe35.jpg"/>
                  <div class="card_text">
                    <div>名稱好吃的菜</div>
                    <span>★★★★★</span>
                    <p>一點努力同學的，累今天看第一次，也在有想好像也太喜歡少女⋯反正我去結束了好奇我可，接⋯但幹希望大的很不。你跟覺得情計畫有點了這樣，啊人有：喜歡的⋯蔥花湯飲料。通通都喜歡廢話算。</p>
                  </div>
                </div>
              </div>

              <div class="slide">
                <div class="card">
                  <img src="../../img/recipe/recipe7.jpg"/>
                  <div class="card_text">
                    <div>名稱好吃的菜</div>
                    <span>★★★★★</span>
                    <p>千的一封如果，了吧武漢次真的，嚶嚶深刻到這樣的會拿經過。作者感謝彈幕推特傻現在⋯都得的子都一點也：的問題多，好好看別的有多微笑樣要一以來你⋯個遊戲個時候，在為的要一就是想。好像有一起的我在問問會我無。會喜歡還有正時間。</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../img/recipe/recipe8.jpg"/>
                  <div class="card_text">
                    <div>名稱好吃的菜</div>
                    <span>★★★★★</span>
                    <p>一點努力同學的，累今天看第一次，也在有想好像也太喜歡少女⋯反正我去結束了好奇我可，接⋯但幹希望大的很不。你跟覺得情計畫有點了這樣，啊人有：喜歡的⋯蔥花湯飲料。通通都喜歡廢話算。</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="buttons_container">
              <button id="recipe_left_btn" class="btn">  <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                fill="currentColor"
                class="bi bi-caret-left"
                viewBox="0 0 16 16"
              >
                <path
                  d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"
                />
              </svg></button>
              <button id="recipe_right_btn" class="btn">          <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                fill="currentColor"
                class="bi bi-caret-right"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"
                />
              </svg></button>
          </div>
      </div>
      </div>
    </div>

    <!-- section D  -->
    <div class="sectionD">
      <div class="dContainer1">
        <img src="../../img/home_page/ProductBar2.jpg" alt="productBar" />
      </div>
      <div class="proTitle">
        <h4>你可能會需要</h4>
      </div>
      <div class="dContainer2">
        <div class="product">
          <img src="../../img/product/product10.jpg" />
          <h3>鍋具組</h3>
          <p>優質不鏽鋼和鋁合金，耐用且易於清潔</p>
          <div class="price">＄3500</div>
          <button>加入購物車</button>
        </div>
        <div class="product">
          <img src="../../img/product/product13.jpg" />
          <h3>鍋具組</h3>
          <p>優質不鏽鋼和鋁合金，耐用且易於清潔</p>
          <div class="price">＄3500</div>
          <button>加入購物車</button>
        </div>
        <div class="product">
          <img src="../../img/product/product12.jpg" />
          <h3>鍋具組</h3>
          <p>優質不鏽鋼和鋁合金，耐用且易於清潔</p>
          <div class="price">＄3500</div>
          <button>加入購物車</button>
        </div>
        <div class="product none">
          <img src="../../img/product/product21.jpg" alt="Product 1" />
          <h3>鍋具組</h3>
          <p>優質不鏽鋼和鋁合金，耐用且易於清潔</p>
          <div class="price">＄3500</div>
          <button>加入購物車</button>
        </div>
      </div>
    </div>

    <%- include('footer') %>
  </body>
</html>
