<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>異鍋豐|個人頁面</title>
    <link rel="stylesheet" href="/user_page.css" />
    <link rel="icon" href="../../img/common/favicon.ico" />
    <script src="/Backstage/jquery/jquery-3.7.1.min.js"></script>
  </head>
  <script>
    $(document).ready(function () {
      // 頁面載入時隱藏所有區塊
      function hideSections() {
        $("#edit").hide();
        $("#like_recipe").hide();
        $("#tracking_number_list").hide();
      }

      // 切換區塊顯示
      function toggleSection() {
        $(".btn_group .btn").click(function () {
          // 隱藏所有區塊
          $("#info_section > div").slideUp();

          // 根據按鈕的類名顯示對應的區塊
          if ($(this).hasClass("edit") && !$("#edit").is(":visible")) {
            $("#edit").slideDown();
          } else if (
            $(this).hasClass("like") &&
            !$("#like_recipe").is(":visible")
          ) {
            $("#like_recipe").slideDown();
          } else if (
            $(this).hasClass("order") &&
            !$("#tracking_number_list").is(":visible")
          ) {
            $("#tracking_number_list").slideDown();
          }
        });
      }

      // 訂單追蹤的滑動效果
      function toggleOrderDetails() {
        $(".tracking_number").click(function () {
          $(this).find(".order_details").slideToggle();
        });

        // 阻止事件冒泡
        $(".order_details").click(function (event) {
          event.stopPropagation();
        });
      }

      // 初始化函式
      hideSections();
      toggleSection();
      toggleOrderDetails();

      const user = JSON.parse(sessionStorage.getItem("user"));
      if (user) {
        $(".greeting").text(`您好，${user.username}`);
          // 將用戶資料填充到對應的欄位中
    $("#user_real_name").val(user.username);
    $("#who").val(user.username);
    $("#user_phone").val(user.phone);
    $("#user_email").val(user.email);
    $("#city").val(user.city);
    $("#district").val(user.district);
    $("#road").val(user.road);
    $("#number").val(user.number);
    $("#zip_code").val(user.zip);
      }


      function updateNavBarCartCount() {
  const cart = JSON.parse(localStorage.getItem('cart')) || [];
  const cartCount = cart.length;
  if (cartCount === 0) {
    $('#brackets').hide();
  } else {
    $('#nav_cart_count').text(cartCount);
    $('#brackets').show();
  }
}

      // 初始化 nav_bar 購物車數量
      updateNavBarCartCount();

// 初始化購物車數量
updateCartCount();
updateNavBarCartCount();

$("#info_section").on("click", "#edit_check", function () {
        console.log("qq");
        const userInfo = {
          account: user.account, // 從 sessionStorage 中獲取用戶帳號
          username: $("#who").val(),
          phone: $("#phone").val(),
          email: $("#mail").val(),
          city: $("#city").val(),
          district: $("#district").val(),
          road: $("#road").val(),
          number: $("#number").val(),
          zip: $("#zip").val(),
        };

        // 發送資料到後端
        $.ajax({
          type: "POST",
          url: "http://localhost:3001/api/updateUserInfo",
          data: JSON.stringify(userInfo),
          contentType: "application/json",
          success: function (response) {
            alert("資料已更新");
          },
          error: function (error) {
            alert("更新失敗，請稍後再試");
          },
        });
      });

    });
  </script>
  <body>
    <%- include('nav_bar') %>

    <div id="select_bar">
      <div class="img_container">
        <img src="../../img/home_page/1.jpg" />
      </div>

      <div class="greeting">您好，使用者</div>

      <div class="btn_group">
        <div class="btn edit">編輯資訊</div>
        <div class="btn like">我的收藏</div>
        <div class="btn order">我的訂單</div>
        <div class="btn logout">登出帳號</div>
      </div>
    </div>

    <div id="info_section">
      <div id="edit">
 
        <div class="section">
          <div class="title">收件資訊</div>
          <div class="info_input">
            <label for="who">收件人</label
            ><input id="who" maxlength="10" />
          </div>

          <div class="info_input">
            <label for="phone">連絡電話</label
            ><input id="phone" maxlength="10" />
          </div>

          <div class="info_input">
            <label for="mail">電子信箱</label
            ><input id="mail" maxlength="30" />
          </div>

          <div class="info_input">
            <label for="city">市</label><input id="city" maxlength="20" />
          </div>
          <div class="info_input">
            <label for="district">區</label
            ><input id="district" maxlength="20" />
          </div>
          <div class="info_input">
            <label for="road">路</label><input id="road" maxlength="20" />
          </div>
          <div class="info_input">
            <label for="number">號</label><input id="number" maxlength="20" />
          </div>

          <div class="info_input">
            <label for="zip">郵遞區號</label
            ><input id="zip" maxlength="20" />
          </div>

          <button id="edit_check">確認更改</button>
        </div>
      </div>

      <div id="like_recipe">
        <div class="recipe_card">
          <span>
            <a href="/recipe_section/recipe_page/1"
              ><img src="../../img/recipe/recipe12.jpg"
            /></a>
          </span>
          <span><a href="/recipe_section/recipe_page/1">菜名</a></span>
          <span>星星</span>
          <span>tag</span>
        </div>
        <div class="recipe_card">
          <span>
            <a href="/recipe_section/recipe_page/1"
              ><img src="../../img/recipe/recipe12.jpg"
            /></a>
          </span>
          <span><a href="/recipe_section/recipe_page/1">菜名</a></span>
          <span>星星</span>
          <span>tag</span>
        </div>
        <div class="recipe_card">
          <span>
            <a href="/recipe_section/recipe_page/1"
              ><img src="../../img/recipe/recipe12.jpg"
            /></a>
          </span>
          <span><a href="/recipe_section/recipe_page/1">菜名</a></span>
          <span>星星</span>
          <span>tag</span>
        </div>
      </div>

      <div id="tracking_number_list">
        <div class="tracking_number">
          <div>
            <span>index1</span>
            <span class="order_num">隨機亂數</span>
            <span>訂單狀態</span>
          </div>

          <div class="order_details">
            <div class="derails_items">
              <span><img src="../../img/product/product12.jpg" /></span>
              <span>商品名稱</span><span>數量</span><span>商品單價</span
              ><span>商品總價</span>
            </div>
            <div class="derails_items">
              <span><img src="../../img/product/product12.jpg" /></span>
              <span>商品名稱</span><span>數量</span><span>商品單價</span
              ><span>商品總價</span>
            </div>
            <div class="derails_items">
              <span><img src="../../img/product/product12.jpg" /></span>
              <span>商品名稱</span><span>數量</span><span>商品單價</span
              ><span>商品總價</span>
            </div>
            <div class="total">
              <span class="total_amount">商品總數量10份</span
              ><span class="total_price">商品總價格10000元</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer') %>
  </body>
</html>
