<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>添加新項目</title>
  </head>
  <link rel="stylesheet" href="/backstage.css" />
  <link rel="stylesheet" href="/add_item.css" />
  <script src="/Backstage/jquery/jquery-3.7.1.min.js"></script>

  <script>
    $(document).ready(function () {
      // 更新剩餘字數的函數
      function updateCount() {
        const inputLength = $(this).val().length;
        const maxLength = $(this).attr("maxlength");
        const remaining = maxLength - inputLength;
        let counter = $(this).next(".counter");
        if (counter.length === 0) {
          counter = $('<span class="counter"></span>');
          $(this).parent().append(counter);
        }
        counter.text(`剩餘字數：${remaining}`);
      }

      // 增加食材欄位的函數
      function addIngredientField(containerSelector, fieldClass) {
        const newField = `
      <div class="${fieldClass}">
        <input placeholder="食材名稱" type="text" maxlength="20" />
        <input placeholder="份量" type="text" maxlength="10" />
      </div>
    `;
        $(containerSelector).append(newField);
      }

      // 為每個需要限制字數的欄位添加事件監聽器
      $("#title, #short_describe, #full_describe, #step").on(
        "input",
        updateCount
      );

      // 為 "增加必要食材欄位" 按鈕添加點擊事件監聽器
      $(".necessary button").click(function () {
        addIngredientField(".necessary", "necessary_ingredients");
      });

      // 為 "增加可選食材欄位" 按鈕添加點擊事件監聽器
      $(".optional button").click(function () {
        addIngredientField(".optional", "optional_ingredients");
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('select[name="related"]').change(function () {
        var selected = $(this).val();
        if (selected == "recipe") {
          $("#item_info").html(`
          <div class="item_container">
              <div class="item_left">
              <div>這裡是食材的相關資訊</div>
              <div><label>食譜名稱 : <input type=text></label></input>
              <div><label>短描述 : <textarea type=text></textarea></label></div>
              <div><label>完整描述 : <textarea type=text></textarea></label></div>
              <div><label>食譜步驟 : <textarea type=text></textarea></label></div>
              <div><label>幾人份 : <input type="number" min="1"></label></div>
              <div><label>備料時間 : <input type="number" min="1"></label></div>
              <div><label>烹飪時間 : <input type="number" min="1"></label></div>
              <div><label>時段分類 : <select name="related">
                                              <option value="" selected hidden>新增項目</option>
                                              <option value="recipe">食材</option>
                                              <option value="product">商品</option>
                                          </select>
                                  </label>
              <div><label>料理風格 : <select name="related">
                                              <option value="" selected hidden>新增項目</option>
                                              <option value="recipe">食材</option>
                                              <option value="product">商品</option>
                                          </select>
                                  </label>
              <div class=input_no_colum><label>素食 :
                                          <label>是<input name="is_vage" type="radio" value="yes"></label>
                                          <label>否<input name="is_vage" type="radio" value="no"></label>
                                      </label></div>
              <div class=input_no_colum><label>環境要求 :
                                          <label>廚房<input name="is_kitchen" type="radio" value="yes"></label>
                                          <label>無<input name="is_kitchen" type="radio" value="no"></label>
                                      </label</div>
              <div><label>商品關聯 : <select name="related">
                                              <option value="" selected hidden>新增項目</option>
                                              <option value="recipe">食材</option>
                                              <option value="product">商品</option>
                                          </select>
                                      </label>
                                      </div>
              </div>
              <div class="item_right">
                  <button>增加食材欄位</button>
                  <input type=text> <input type=text>
              </div>
          </div>
          <hr>
        `);
        } else if (selected == "product") {
          $("#item_info").html("<div>這裡是商品的相關資訊</div>");
        } else {
          $("#item_info").html("");
        }
      });
    });
  </script>

  <body>
    <div>
      新增項目 :
      <select name="related">
        <option value="" selected hidden>新增項目</option>
        <option value="recipe">食材</option>
        <option value="product">商品</option>
      </select>
      <hr />
    </div>

    <div id="item_info">
      <div class="item_container">
        <div class="item_left">
          <div>
            新增食譜注意事項
            <div class="hover">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-question-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                />
                <path
                  d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"
                />
              </svg>
              <div class="hover-content">
                <p>所有欄位都必須填寫</p>
                <p>食譜的步驟無須標示第幾步，只須按照順序輸入</p>
                <p>食譜的每個步驟請使用"@"隔開</p>
                <p>份量/備料時間/烹飪時間不得為零或負數</p>
                <p>如果料理風格/關聯性不存在所需的分類，請先新增分類</p>
                <p>食譜必要的食材填寫至所需食材，可取捨的填至可選食材</p>
                <p>食材的份量請盡量使用阿拉伯數字搭配中文</p>
                <p>相同的食材/配料不得重複填寫</p>
              </div>
            </div>
          </div>
          <div>
            <label for="title">食譜名稱 :</label
            ><input id="title" type="text" maxlength="20" />
          </div>
          <div>
            <label for="short_describe">短描述 : </label
            ><textarea
              id="short_describe"
              type="text"
              maxlength="100"
            ></textarea>
          </div>
          <div>
            <label for="full_describe">完整描述 : </label
            ><textarea
              id="full_describe"
              type="text"
              maxlength="300"
            ></textarea>
          </div>
          <div>
            <label for="step">食譜步驟 : </label
            ><textarea id="step" type="step" maxlength="1200"></textarea>
          </div>
          <div>
            <label for="size">幾人份 : </label
            ><input id="size" type="number" min="1" />
          </div>
          <div>
            <label for="prepare_time">備料時間 : </label
            ><input id="prepare_time" type="number" min="1" />
          </div>
          <div>
            <label for="cooking_time">烹飪時間 : </label
            ><input id="cooking_time" type="number" min="1" />
          </div>

          <div class="input_no_colum">
            <label>素食 : </label>
            <label>是<input name="is_vage" type="radio" value="yes" /></label>
            <label>否<input name="is_vage" type="radio" value="no" /></label>
          </div>
          <div class="input_no_colum">
            <label>環境要求 : </label>
            <label
              >廚房<input name="is_kitchen" type="radio" value="yes"
            /></label>
            <label>無<input name="is_kitchen" type="radio" value="no" /></label>
          </div>
          <div>
            <label>時段分類 : </label>
            <select name="related">
              <option value="" selected hidden>選擇時段</option>
              <option value="recipe">食材</option>
              <option value="product">商品</option>
            </select>
          </div>
          <div>
            <label>料理風格 : </label>
            <select name="related">
              <option value="" selected hidden>選擇風格</option>
              <option value="recipe">食材</option>
              <option value="product">商品</option>
            </select>
          </div>
          <div>
            <label>商品關聯 : </label>
            <select name="related">
              <option value="" selected hidden>新增關聯</option>
              <option value="recipe">食材</option>
              <option value="product">商品</option>
            </select>
          </div>
        </div>

        <div class="item_right">
          <div class="item_right_sction necessary">
            <div>
              <button>增加主要食材欄位</button>
            </div>
            <div class="necessary_ingredients">
              <input placeholder="必要食材名稱" type="text" maxlength="20" />
              <input placeholder="份量" type="text" maxlength="10" />
            </div>
          </div>

          <div class="item_right_sction optional">
            <div>
              <button>增加可選食材欄位</button>
            </div>
            <div class="optional_ingredients"></div>
          </div>

          <button id="submmit">新增食譜</button>
        </div>
      </div>
    </div>
  </body>
</html>
